@import "../SASS/styles.scss";
.benefits__container{
    background-color: $darkColor;
    height: 625px;
    width: 100%;
}
.benefits__title{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 97px;
    h2{
        font-family: $font;
        font-weight: 300;
        font-size: 2.5em;
        color: white;
        position: absolute;
    }
}
.ben__box{
    background: no-repeat center/100% url("../media/s-rectangle.png");
    padding-left: 7px;
    margin-right: 8px;
    color: $darkColor;
    text-shadow: 1px 1px 6px $darkColor;
}

.benefits__carousel{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    height: 250px;
    width: 100%;
}
.D{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 0px 20px;
    color: white;
    font-family: $font;
}
.theVector{
    margin-bottom: 20px;
}
.arrow_back{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowBack{
    position: absolute;
    padding-right: 5px;
}
.arrow_forward{
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrowForward{
    position: absolute;
    padding-left: 5px;
}
.circleClock{
    position: absolute;
    margin-left: 29px;
    margin-top: -19px;
}
.lines{
    position: absolute;
    margin-left: 64px;
    margin-top: -21px;
}
.midLow{
    position: absolute;
    margin-left: 46px;
    margin-top: -11px;
}
.midTop{
    position: absolute;
    margin-left: 34px;
    margin-top: -24px;
}
.desktop{
    position: absolute;
    margin-top: -21px;
    margin-left: 33px;
}
.social{
    position: absolute;
    margin-left: 33px;
    margin-top: -30px;
}
.fruits{
    position: absolute;
    margin-left: 31px;
    margin-top: -23px;
}