.footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo_footer{
    height: 70px;
    margin-top: 10px;
}