@import "../SASS/styles.scss";
.more{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    h2{
        font-family: $font;
        font-size: 50px;
        font-weight: 300;
    }
    h3{
        font-family: $font;
        font-size: 40px;
        font-weight: 300;
    }
}
.G{
    background: -webkit-linear-gradient(right, #00E6E3 2.73%, #00FF68 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.buttons{
    display: flex;
    margin-top: 50px;
}
.insta{
    margin-right: 40px;
    width: 60px;
    height: 60px;
}
@media all and (min-width: 480px) and (max-width: 767px){
    .more{
        text-align: center;
    }
}
@media all and (max-width: 479px){
    .more{
        height: 450px;
        text-align: center;
    }
}
